# Warmup: adder function

Create a function that takes two numbers as arguments and return their sum.
Examples

```
addition(3, 2) ➞ 5

addition(-3, -6) ➞ -9

addition(7, 3) ➞ 10

```

In [4]:
3 + 2

5

In [5]:
-3 + -6

-9

In [6]:
sum([7, 3])

10

In [7]:
sum([3,2])

5

In [8]:
def addition(num1,num2):
    return num1+num2
addition(-3,-4)

-7

# Warmup 2: even numbers

Generate a Python list of all the even numbers between 4 to 3048

In [9]:
for i in range(4,30):
    if i%2 == 0:
        print(i)

4
6
8
10
12
14
16
18
20
22
24
26
28

# Exercise 1: First and Last 

Creates a function that takes a string and returns the first and last character.
### Examples

```
first_last("ganesh") ➞ "gh"

first_last("kali") ➞ "ki"

first_last("shiva") ➞ "sa"

first_last("vishnu") ➞ "vu"

first_last("durga") ➞ "da"
```

In [8]:
string_word='kali'

In [10]:
string_word[0]+string_word[3]

'ki'

In [ ]:
string_word[0]+string_word[3]

In [10]:
def first_last(name):
    print(name[0] + name[-1])

first_last("mike")

me

# Exercise 2: Keys in Dict

Write a function that returns `True` if a dictionary contains the specified key, and `False` otherwise.

### Examples

```
has_key({ "a": 44, "b": 45, "c": 46 }, "d") ➞ False

has_key({ "craves": True, "midnight": True, "snack": True }, "morning") ➞ False

has_key({ "pot": 1, "tot": 2, "not": 3 }, "not") ➞ True
```

In [11]:
dict = {"dog": "bark",
       "cat" : "meow",
       "bird": "chirp"
}

def check(animal):
    if animal in dict:
        return True
    else:
        return False

check("dog")

True

In [18]:
dict

{'dog': 'bark', 'cat': 'meow', 'bird': 'chirp'}

In [12]:
check("fish")

False

# Exercise 3: Element Count

Write a function that count how many times each element in a list occurs. It should return a dict in the format `element -> count`

ex:
```
key_count([1, 3, 2, 1, 5, 3, 5, 1, 4]) ⇒ {
    1: 3,
    2: 1,
    3: 2,
    4: 1,
    5: 2,
}
```

In [20]:
list1=[1, 3, 2, 1, 5, 3, 5, 1, 4]
list2={}
for i in list1:
    
    if i in list2:
        list2[i]+=1
    else:
        list2[i]=1
print(list2)

{1: 3, 3: 2, 2: 1, 5: 2, 4: 1}

In [2]:
#cheating way
from collections import Counter

key_count = ([1, 3, 2, 1, 5, 3, 5, 1, 4])
Counter(key_count)

Counter({1: 3, 3: 2, 2: 1, 5: 2, 4: 1})

In [7]:
#logical way
list_1 = [1, 3, 2, 1, 5, 3, 5, 1, 4]
list_2 = {}

for i in list_1:
   if i in list_2: 
       list_2[i] += 1
   else: 
       list_2[i] = 1

print(list_2)

{1: 3, 3: 2, 2: 1, 5: 2, 4: 1}

In [22]:
#Question 4... Accidentally deleted the question
# Find if all elements in list are unique
def td(data):
    if len(data) == len(set(data)):
        return True
    else:
        return False
print(td([2, 3, 4, 5, 7, 8]))
print(td([2, 3, 4, 5, 8, 9]))

True
True

In [12]:
#Question 5... Same as question 4
def round_num(n):
    if n % 1000:
        return(1 + n// 1000) * 1000
    else:
        return n

def debt(n):
    if n == 0:
        return 100000
    else:
        return(round_num(debt(n - 1) * 1.05))

In [13]:
debt(0)

100000

In [14]:
debt(57)

1736000.0

# Exercise 6: Spell Checker

Create a function that takes in two lists: 

1. A sentence as a list of user-typed words

2. The list of correctly-typed words

and outputs a list containing 1s (correctly-typed words) and 0s (incorrectly-typed words).

### Inputs:
> User-typed: \["cat", "blue", "skt", "umbrells", "paddy"\]

> Correct: \["cat", "blue", "sky", "umbrella", "paddy"\]

### Output: \[ 1, 1, 0, 0, 1 \]

### Examples

```
correct_stream(
  ["it", "is", "find"],
  ["it", "is", "fine"]
) ➞ [1, 1, 0]

correct_stream(
  ["april", "showrs", "bring", "may", "flowers"],
  ["april", "showers", "bring", "may", "flowers"]
) ➞ [1, 0, 1, 1, 1]

```

In [26]:
if 'april'=='april':
    print(True)
else:
    print('False')

True

In [27]:
l1=["april", "showrs", "bring", "may", "flowers"]
l2=["april", "showers", "bring", "may", "flowers"]

In [43]:
for l,x in zip(l1,l2): 
    if l==x: 
      print(1)

1
1
1
1

In [41]:
final=[]
final

[]

In [42]:
final.append("1")
print(final)

['1']

In [51]:
l1 = ["it", "is", "find"]
l2 = ["it", "is", "fine"]
final=[]
for l,x in zip(l1,l2):
    if l==x: 
      final.append("1")
    else:
       final.append("0")

In [52]:
final

['1', '1', '0']

In [1]:

a = ["it", "is", "find"]
b = ["it", "is", "fine"]

def spell_check(a,b):
    r = []
    for i in range(len(a)):
        if a[i] == b[i]:
            r.append("1")
        else:
            r.append("0")
    return r

spell_check(a,b)

['1', '1', '0']

# Exercise 7: FizzBuzz

Fizzbuzz is a game for children and a drinking game for adults. It's also a classic programming interview question.

Suppose we have a number n. We have to display a string representation of all numbers from 1 to n, but there are some constraints.

    If the number is divisible by 3, write Fizz instead of the number
    If the number is divisible by 5, write Buzz instead of the number
    If the number is divisible by 3 and 5 both, write FizzBuzz instead of the number

So the results are `1, 2, Fizz, 4, Buzz, ..., 14, Fizzbuzz, 16, 17, Fizz, 19, Buzz, ...`

Write a python program that prints fizzbuzz for numbers 1 to 150

In [55]:
# FizzBuzz 1-15
for i in range(1,20):
    if i%3==0 and i%5==0:
        print('FizzBuzz')
    elif i%3==0:
        print('Fizz')
    elif i%5==0:
        print('Buzz')
    else:
        print(i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19

In [15]:
for n in range(1, 150):
    if n % 3 == 0 and n % 5 == 0:
        print("FizzBuzz")
    elif n % 3 == 0:
        print("Fizz")
    elif n % 5 == 0:
        print("Buzz")
    else:
        print(n)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz
101
Fizz
103
104
FizzBuzz
106
107
Fizz
109
Buzz
Fizz
112
113
Fizz
Buzz
116
Fizz
118
119
FizzBuzz
121
122
Fizz
124
Buzz
Fizz
127
128
Fizz
Buzz
131
Fizz
133
134
FizzBuzz
136
137
Fizz
139
Buzz
Fizz
142
143
Fizz
Buzz
146
Fizz
148
149

# Exercise 8: Palindrome?

A palindrome is a word which reads the same backward as forwards. Write a function that returns `True` if a string is a palindrome:
```
    “laval” ⇒ Yes
    “montreal” ⇒ No
```

In [ ]:
def get_result(word1):
    i=1
    result=[]
    for j in word1:
        if j==word1[-i]:
         result.append("1")
        else:
            result.append("0")
        i=i+1
    if "0" in result:
        return False
    else:
        return True

In [74]:
word1='laval'
get_result(word1)

True

In [75]:
word1='jas'
get_result(word1)

False

In [76]:
get_result("montreal")

False

In [77]:
w='jas'
w[::-1]

'saj'

In [6]:
def word(w):
    if w == w[::-1]:
        return True
    else:
        return False

word("montreal")

False

In [7]:
word("laval")

True

# Exercise 9: Counting Country IDs

We have a list of user IDS with identifiers of form “userid-COUNTRYID”. Calculate how many countries we have.

Ex:
```
[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US] -> {'US': 2, 'CA': 1}

[gyhwefy7832ryyg-US, iu7ytf87gyuwef-CA, 98yfyg82t3r-US,
    iuhsdf897y3righsfe-US, iushdf98h23ryg-IT, iuhdf9h32ryu9gf-IT,
    IUufgh98y34-FR, 98yfdiuhdfbviuh8-UK
] -> {'US': 3, 'CA': 1, "IT": 2, 'UK':1, 'FR':1}
```

In [9]:
id = ["ciwefnowe-CA", "cioneaire-US", "sioariewor-CA", "ernwoeriwjorw-CA", "erworierir3o-US", "roitjro3in-UK",
     "ifhosfuhdg-AU", "sffewfh8f9-UK", "r3hruhrsfuh-US", "3ih3o4ih32hh-CA"]
ctry = [i[-2:] for i in id]
r = {}

for j in ctry:
    if j in r:
        r[j] += 1
    else:
        r[j] = 1
print(r)

{'CA': 4, 'US': 3, 'UK': 2, 'AU': 1}

# Exercise 10: Identifying top countries

Using your solution to the problem above, write a function that returns the top 3 countries by number of users

In [10]:
id1 = ["ciwefnowe-CA", "cioneaire-US", "sioariewor-CA", "ernwoeriwjorw-CA", "erworierir3o-US", "roitjro3in-UK",
     "ifhosfuhdg-AU", "sffewfh8f9-UK", "r3hruhrsfuh-US", "3ih3o4ih32hh-CA"]
ctry = [i[-2:] for i in id]
r = {}

for j in ctry:
    if j in r:
        r[j] += 1
    else:
        r[j] = 1

x = list(r.items())
x[0:3]

[('CA', 4), ('US', 3), ('UK', 2)]

# Exercise 11: Century

Write a function that takes a year and returns its corresponding century.

### Examples

```
century_from_year(2005) ➞ 21

century_from_year(1850) ➞ 19

century_from_year(-332) ➞ -4

century_from_year(55) ➞ 1

century_from_year(-65) ➞ -1
```

In [9]:
def ctry_from_yr(year):
    if year > 0:
        return (year-1) // 100 + 1
    else:
        return year // 100
print(ctry_from_yr(-65))

-1

In [10]:
print(ctry_from_yr(867))

9

# Exercise 12: Grade school addition

Write a function that, given two lists of integers, adds them as if they were two numbers. So `12` would be `[1,2]` and `2357` would be `[2,3,5,7]`

Ex:

```
    [1, 1] + [1] ⇒ 11 + 1 = 12
    [9, 9] + [2] ⇒ 99 + 2 = 101
```

In [2]:
def grade_school_addition(x, y):   
    x = "".join([str(i) for i in x])
    y = "".join([str(i) for i in y])    
    return int(x) + int(y)

grade_school_addition([1,2,3], [4,5,6])

579

# Exercise 13: Printing the pretty pyramid

This pyramid is pretty!
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

Let's celebrate that.

Given a number of rows, print a sideways pyramid with this number of "levels" on each side. For instance your function `pretty_pyramid(4)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * 
* * 
* 
```

And `pretty_pyramid(8)` would print out:

```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * * * 
* * * * * * * 
* * * * * * * * 
* * * * * * * 
* * * * * * 
* * * * * 
* * * * 
* * * 
* * 
* 
```

In [1]:
def very_pretty_pyramid(rows):
    for i in range(0, rows):
        print(" *" * i)
    for i in range(rows, 0, -1):
        print(" *" * i)

very_pretty_pyramid(4)

 *
 * *
 * * *
 * * * *
 * * *
 * *
 *

# Exercise 14: Lucky 7

Return the sum of the numbers in an array, returning 0 for an empty array. 

The number 7 is “lucky”, therefore it does countdouble and the number that comes immediately after a 7 countstriple.

```
lucky_seven([1, 2, 4, 1]) → 8
lucky_seven([1, 1]) → 2
lucky_seven([1, 2, 2, 1, 7]) → 20
lucky_seven([1, 2, 2, 1, 7, 3, 1]) → 30
```

In [1]:
def lucky_seven(x):
    array_sum = 0
    seven_multiplier = 1
    for i in x:
        print(x)
        if i != 7:
            array_sum = array_sum + i * seven_multiplier
            seven_mulitplier = 1
        else:
            array_sum = array_sum + i * 2
            seven_multiplier = 3
        print(array_sum)
lucky_seven([1,2,7,1,7])

[1, 2, 7, 1, 7]
1
[1, 2, 7, 1, 7]
3
[1, 2, 7, 1, 7]
17
[1, 2, 7, 1, 7]
20
[1, 2, 7, 1, 7]
34

# Exercise 15: Pascal's Triangle

[Pascals Triangle](https://en.wikipedia.org/wiki/Pascal%27s_triangle) is a mathematical structure that's important in statistics and [combinatorics](https://en.wikipedia.org/wiki/Combinatorics). It starts with the number 1 and expands as a pyramid where a number is the sum of it's diagonal neighbors on the row above it.

It looks like this (you can find more examples in the links):

```
                 1
               1   1
             1   2   1
           1   3   3   1
         1   4   6   4   1
       1   5   10   10   5   1
     1   6   15   20   15   6   1
   1   7   21   35   35   21   7   1
```

Write a function that given an integer (the number of rows) prints out pascal's triangle up to the specified row. Example:

```
pascal_triangle(8)
```
out:
```
                 1

               1   1

             1   2   1

           1   3   3   1

         1   4   6   4   1

       1   5   10   10   5   1

     1   6   15   20   15   6   1

   1   7   21   35   35   21   7   1

```
Another example

```
pascal_triangle(3)
```
out:
```
                 1

               1   1

             1   2   1

```